pipeline/SQLtoDataLakeIncremental.json
{
	"name": "SQLtoDataLakeIncremental",
	"properties": {
		"activities": [
			{
				"name": "SQLtoDataLakeIncr",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "latestLoadMax",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.FactBookings\nwhere booking_date > '@{activity('LastLoad').output.firstRow.lastload}'\nand booking_date <= '@{activity('latestLoadMax').output.firstRow.latestLoad}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_azure_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql_data_lake",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LastLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_src_datalake",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "latestLoadMax",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(booking_date) as latestLoad\nFROM dbo.FactBookings",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_src_azure_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Watermark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SQLtoDataLakeIncr",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastload",
								"value": {
									"value": "@activity('latestLoadMax').output.firstRow.latestLoad",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_lookup2_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_lookup_src_datalake",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-06-24T18:30:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}